In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import tensorflow as tf
import time
from utilities import *
from sklearn.metrics import mean_squared_error
import os
from datetime import datetime

In [25]:
waterpump_data = pd.read_csv('C:\\Users\\I539001\\Desktop\\PA2\\AL\\FeedbackBoost\\Data\\Kaggle_Waterpump.csv')

In [26]:
waterpump_data.head()

,Unnamed: 0,rtf_id,ts_int,timestamp,sensor_00,sensor_01,sensor_02,sensor_03,sensor_04,sensor_05,...,sensor_47,sensor_48,sensor_49,slice_id,cnt_per_rtf,cycle,RUL,RUL_pw,phase,IMM_FAILURE
0,1,1,0,2018-04-01 00:00:00,2.465394,47.09201,53.2118,46.310760,634.3750,76.45975,...,38.194440,157.9861,67.70834,1,17155,1,17154,120,1,0
1,2,1,1,2018-04-01 00:01:00,2.465394,47.09201,53.2118,46.310760,634.3750,76.45975,...,38.194440,157.9861,67.70834,1,17155,2,17153,120,1,0
2,3,1,2,2018-04-01 00:02:00,2.444734,47.35243,53.2118,46.397570,638.8889,73.54598,...,38.194443,155.9606,67.12963,1,17155,3,17152,120,1,0
3,4,1,3,2018-04-01 00:03:00,2.460474,47.09201,53.1684,46.397568,628.1250,76.98898,...,38.194440,155.9606,66.84028,1,17155,4,17151,120,1,0
4,5,1,4,2018-04-01 00:04:00,2.445718,47.13541,53.2118,46.397568,636.4583,76.58897,...,38.773150,158.2755,66.55093,1,17155,5,17150,120,1,0

In [27]:
waterpump_data.columns
# What are the following columns: 
# ts_int = 
# slice_id = 
# phase = 
# Imm_failure =

Index(['Unnamed: 0', 'rtf_id', 'ts_int', 'timestamp', 'sensor_00', 'sensor_01',
       'sensor_02', 'sensor_03', 'sensor_04', 'sensor_05', 'sensor_06',
       'sensor_07', 'sensor_08', 'sensor_09', 'sensor_10', 'sensor_11',
       'sensor_12', 'sensor_13', 'sensor_14', 'sensor_16', 'sensor_17',
       'sensor_18', 'sensor_19', 'sensor_20', 'sensor_21', 'sensor_22',
       'sensor_23', 'sensor_24', 'sensor_25', 'sensor_26', 'sensor_27',
       'sensor_28', 'sensor_29', 'sensor_30', 'sensor_31', 'sensor_32',
       'sensor_33', 'sensor_34', 'sensor_35', 'sensor_36', 'sensor_37',
       'sensor_38', 'sensor_39', 'sensor_40', 'sensor_41', 'sensor_42',
       'sensor_43', 'sensor_44', 'sensor_45', 'sensor_46', 'sensor_47',
       'sensor_48', 'sensor_49', 'slice_id', 'cnt_per_rtf', 'cycle', 'RUL',
       'RUL_pw', 'phase', 'IMM_FAILURE'],
      dtype='object')

In [28]:
columns_to_drop = ['Unnamed: 0', 'timestamp', 'IMM_FAILURE', 'slice_id', 'cnt_per_rtf', 'IMM_FAILURE', 'ts_int', 'phase']
waterpump_data= waterpump_data.drop(columns_to_drop, axis=1)

In [30]:
rtf_ids = waterpump_data['rtf_id'].unique()

array([1, 2, 4, 5, 6, 7], dtype=int64)

In [23]:
train_data = waterpump_data.loc[waterpump_data['rtf_id'].isin(list(rtf_ids[:5]))]